{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}

    <link href="/static/styles.css" rel="stylesheet">
    <style>
        body {
            background-image: url("/static/login2.jpg");
            background-color: #F0F4F7;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            opacity: 0.9;
        }
    </style>

{% endblock %}

{% block main %}

<div class="card mx-auto" style="max-width:30rem; border-radius:7px;">
    <h4 class="card-header text-center">Log In</h4>
    <div class="card-body">
        <form action="/login" method="post">
            <div class="form-group">
                <label>Username: </label>
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="form-group">
                <label>Password: </label>
                <input class="form-control" name="password" placeholder="Password" type="password" required>
            </div>
            <center>
                <button class="btn btn-outline-secondary" type="submit">Log In</button>
            </center>
        </form>
    </div>
</div>

{% endblock %}