{% extends "layout.html" %}

{% block title %}
    Thank You!
{% endblock %}

{% block head %}

<style>
    body {
        text-align:center;
        background-image: url("/static/login3.jpg");
        background-color: #EAE9E7;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.9;
    }
</style>

{% endblock %}

{% block main %}

    <link href="/static/styles.css" rel="stylesheet">
    <p>
        Your request has been processed successfully!
    </p>
    <br>
    <a href="/requestform" class="btn btn-outline-secondary">Start Another Request</a>
    <a href="/viewrequests" class="btn btn-outline-secondary">View Requests</a>

{% endblock %}