{% extends "layout.html" %}

{% block title %}
    View Requests
{% endblock %}

{% block head %}

<style>
    body {
        text-align:center;
        background-image: url("/static/login3.jpg");
        background-color: #EAE9E7;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.9;
    }
</style>

{% endblock %}

{% block main %}

<link href="/static/styles.css" rel="stylesheet">
<div class="card text-center" style="border:2px rgb(225, 225, 225); border-radius:7px;">
    <h4 class="card-header">All Requests</h4>
    <div class="card-body">
        <p><i>All requests made, ordered by requested delivery date.</i></p>
        <table class="table">

            <!--Table header with column labels-->
            <thead>
                <tr>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Soup</th>
                    <th scope="col">Salad</th>
                    <th scope="col">Sandwich</th>
                    <th scope="col">Entree</th>
                    <th scope="col">Side</th>
                    <th scope="col">Dessert</th>
                </tr>
            </thead>

            <tbody>

            <!--For all requests associated with the shelter, print the data-->
                {% for i in range(rows|length) %}
                    <tr>
                        <td>{{rows[i]["requestdate"]}}</td>
                        <td>{{rows[i]["soup"]}}</td>
                        <td>{{rows[i]["salad"]}}</td>
                        <td>{{rows[i]["sandwich"]}}</td>
                        <td>{{rows[i]["entree"]}}</td>
                        <td>{{rows[i]["side"]}}</td>
                        <td>{{rows[i]["dessert"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/requestform" class="btn btn-outline-secondary">Start Another Request</a>
    </div>
</div>
<br>
<a href="/shelter" class="btn btn-outline-secondary" style="text-align: center;"><i class="fas fa-long-arrow-alt-left"></i></a>


{% endblock %}